*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
a {
  cursor: pointer;
}
ul li {
  list-style: none;
}

:root {
  --main-color: #6dadb0 /* dec18c c5cda0 6dadb0*/;
  --width-logo: 130px;
}

h1 {
  font-size: 34px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 27px;
}
h4 {
  font-size: 24px;
}

.grid {
  display: grid;
}

.btn {
  display: inline-block;
  padding: 9px 25px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  background: var(--main-color);
}
/* Add font Varela Round và Playfair Display download từ google font */
/* hebrew */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'),
    url('~assets/fonts/VarelaRound/hebrew-VarelaRound-Regular.woff2')
      format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* vietnamese */
@font-face {
  font-family: 'Varela Round';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'),
    url('~assets/fonts/VarelaRound/vietnamese-VarelaRound-Regular.woff2')
      format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'),
    url('~assets/fonts/VarelaRound/latin-ext-VarelaRound-Regular.woff2')
      format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Varela Round';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'),
    url('~assets/fonts/VarelaRound/latin-VarelaRound-Regular.woff2')
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* cyrillic 
	@font-face {
	  font-family: 'Playfair Display';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(~assets/fonts/PlayfairDisplay/cyrillic-PlayfairDisplay.woff2) format('woff2');
	  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
	}
	*/
/* vietnamese */
@font-face {
  font-family: 'Playfair Display';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
    url('~assets/fonts/PlayfairDisplay/vietnamese-PlayfairDisplay.woff2')
      format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext 
	@font-face {
	  font-family: 'Playfair Display';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'), url(~assets/fonts/PlayfairDisplay/latin-ext-PlayfairDisplay.woff2) format('woff2');
	  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
	}
	*/
/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
    url('~assets/fonts/PlayfairDisplay/latin-PlayfairDisplay-Regular.woff2')
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/*End add font*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #555;
  font-family: 'Varela Round';
  font-size: 14px;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
}

.row {
  width: 1170px;
  margin: auto;
}

.top-bar {
  background: var(--main-color);
}

.top-bar .welcome {
  padding: 10px 0;
  text-align: right;
  color: #fff;
}

.header .row {
  display: grid;
  grid-template-columns: var(--width-logo) auto;
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 5px;
}

.logo,
.logo a,
.logo a img {
  width: 100%;
  font-size: 0;
  display: inline-block;
}

.header .row .menu {
  position: relative;
}
.header .row .menu ul.parent-menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header .row .menu ul li {
  margin-left: 30px;
  display: inline-block;
  position: relative;
}
.header .row .menu ul li a {
  display: inline-block;
  padding: 25px 10px;
  color: #555;
  text-transform: uppercase;
  transition: color 0.2s;
}
.header .row .menu ul li ul {
  z-index: 1;
  position: absolute;
  background: #fff;
  min-width: 200px;
  text-align: left;
  border: 1px solid #ccc;
  padding: 5px 20px;
  top: calc(100% + 50px);
  left: 10px;
  right: auto;
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
}
.header .row .menu ul li a:hover {
  color: var(--main-color);
}
.header .row .menu ul li:hover ul {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
.header .row .menu ul li ul li {
  display: block;
  margin-left: 0;
  border-bottom: 1px solid #e3e3e3;
}
.header .row .menu ul li ul li:last-child {
  border-bottom: none;
}
.header .row .menu ul li ul li a {
  display: block;
  padding: 14px 0;
  margin-top: 0;
  text-transform: none;
  transition: padding-left 0.3s;
  box-sizing: border-box;
}
.header .row .menu ul li ul li a:hover {
  padding-left: 10px;
}

.container-search-bar {
  border-bottom: 1px solid #dedede;
  padding: 32px 0;
  margin-bottom: 30px;
}

.row.search-bar {
  display: grid;
  grid-template-columns: 600px auto;
}

.search-bar .search-box {
  display: grid;
  grid-template-columns: 180px auto;
}

.search-box .select-cat a {
  display: inline-block;
  padding: 14px 20px 15px 20px;
  height: 50px;
  width: 180px;
  border: 2px solid #eee;
  cursor: pointer;
  user-select: none;
}
.search-box .select-cat a:after {
  content: '\203A';
  display: inline-block;
  font-family: monospace, tahoma;
  color: #aaa;
  margin-left: 55px;
  transform: rotate(90deg);
}

.search-box .form-search input {
  width: 100%;
  padding: 15px 20px;
  height: 50px;
  border: 2px solid #eee;
  border-left: 0;
  outline: none;
}

.row.search-bar .phone {
  text-align: right;
  line-height: 50px;
}

.row.search-bar .phone a {
  color: #555;
}
.row.search-bar .phone a svg {
  width: 14px;
  height: 14px;
  fill: var(--main-color);
  stroke: var(--main-color);
  vertical-align: middle;
  margin-right: 4px;
}

.container-slideshow {
  padding-bottom: 50px;
}

.map {
  margin: 30px 0;
}

.navigation-map {
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 0;
}

.map div.item-map {
  padding: 0 60px;
}
.map .see-map {
  text-align: right;
  border-right: 1px solid #ddd;
}

.map a {
  display: inline-block;
  color: #bababa;
  cursor: pointer;
  padding: 25px 0;
}
.map a:hover {
  color: var(--main-color);
}

.google-map {
  max-height: 0;
  transition: all 0.4s;
  overflow: hidden;
}
.google-map.show-map {
  max-height: 460px;
}

.main-contact.grid {
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin-top: 40px;
}

.main-contact .contact-form {
  text-align: center;
}

.main-contact .contact-form h3 {
  font-family: 'Playfair Display';
  font-weight: 400;
  margin-bottom: 40px;
}

.main-contact .contact-form label {
  display: block;
  font-size: 13px;
  margin: 22px 0 7px 0;
}

.main-contact .contact-form input,
.main-contact .contact-form textarea {
  width: 100%;
  font-size: 14px;
  color: #555;
  border: none;
  outline: none;
  background-color: #f3f3f3;
  padding: 10px 15px;
  resize: vertical;
  transition: background-color 0.3s;
}

.main-contact .contact-form textarea {
  min-height: 140px;
  max-height: 200px;
}

.main-contact .contact-form input:focus,
.main-contact .contact-form textarea:focus {
  background-color: #e6e6e6;
}

.main-contact .contact-form .btn-send {
  margin-top: 20px;
  min-width: 125px;
  padding: 7px 25px;
  position: relative;
  border: 2px solid transparent;
}
.main-contact .contact-form .btn-send:after {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
}

.main-contact .contact-form .btn-send:hover:after {
  animation: hoverBtnUnderline 0.3s linear;
}
.main-contact .contact-form .btn-send:hover {
  animation: hoverBtnBackground 1s;
}
@keyframes hoverBtnUnderline {
  0% {
    left: 0;
    width: 10%;
  }
  30% {
    left: 25%;
    width: 45%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes hoverBtnBackground {
  58% {
    background-color: #fff;
    border: 2px solid var(--main-color);
  }
  35%,
  100% {
    background-color: var(--main-color);
    border: 2px solid transparent;
  }
}

.row.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.row.footer img {
  width: 150px;
}

.row.footer h4 {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 24px;
  color: #555;
  margin-bottom: 28px;
  margin-left: 5px;
}

.row.footer ul {
  padding: 0;
}

.row.footer ul li {
  margin-bottom: 20px;
  position: relative;
}

.row.footer ul li a {
  color: #999;
  margin-left: 5px;
  padding: 7px 0;
  transition: all 0.2s;
}

.row.footer ul li:hover a {
  color: var(--main-color);
  margin-left: 10px;
  text-decoration: underline;
}
.row.footer ul li svg {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  fill: var(--main-color);
  stroke: #fff;
}

.row.footer ul li p {
  padding-left: 30px;
}

.row.footer ul li p a {
  margin-left: 0;
}

.row.footer ul li:hover p a {
  margin-left: 0px;
}

.copyright {
  border-top: 1px solid #eaeaea;
  color: #999;
  text-align: center;
  font-size: 12px;
  padding: 9px 0;
}
